{% extends 'layout/base.html' %}

{% block headline %}
<h1>Tentang <span>{{TITLE}}</span></h1>
{% endblock headline %}

<!-- <h2>Delivering great work experience for more than your entire life !</h2> -->

{% block content %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="assets/img/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>PT. Sapta Sinergi Sourcindo</h3>
          <p class="fst-italic">
            PT Sapta Sinergi Sourcindo adalah perusahaan outsourcing yang berdiri dari tahun 2003, dengan client mayoritas perbankan, start up dan perusahaan swasta TBK Indonesia. Kami banyak men-supply tenaga kerja dari level manager dan staf dengan jenis pekerjaan administrasi, data entry, receptionist, costumer service, sales, SPG dan SPB, dll. PT Sapta Sinergi Sourcindo sangat konsen terhadap kualitas SDM yang ditempatkan di user dan memperhatikan detail terkait database karyawan dan layanan penunjang lainnya sesuai dengan aturan ketenagakerjaan yang berlaku.
          </p>
          <h3>Pencapaian: </h3>
          <ul>
            <li><i class="bi bi-check-circle"></i> Agensi Sales pihak ketiga terbaik.</li>
            <li><i class="bi bi-check-circle"></i> PERSONAL LOAN.</li>
            <li><i class="bi bi-check-circle"></i> Agensi Sales pihak ketiga terefisien.</li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>VISI & MISI</h2>
        <p>Visi dan Misi perusahaan kami</p>
      </div>

      <div class="row">

        <div class="col-lg-6 text-center">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>VISI</span>
            <h4>Menjadi mitra terbaik dalam bisnis <i>outsourcing</i>untuk klien dan karyawan kami sendiri.</h4>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0 text-center">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>MISI</span>
            <h4>Memfasilitasi kebutuhan pelanggan dan menjaga kelangsungan bisnis.</h4>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Klien</h2>
        <p>Kami bekerjasama dengan : </p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            {% for k in range(client|length)  %}
            <li class="nav-item">
              <a class="nav-link {% if k == 0 %} active show {% else %}  {% endif %} " data-bs-toggle="tab" href="#tab-{{ k+1 }}">{{client[k].name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            
            {% for d in range(client|length)  %}
              <div class="tab-pane {% if d == 0 %} active show{% endif %}" id="tab-{{ d+1 }}">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ client[d].name }}</h3>
                    <p>{{ client[d].desc }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2 ">
                    <img src="assets/img/clients/{{ client[d].pict }}" alt="" class="img-fluid bg-light bg-opacity-25 p-4" style="border-radius: 35px;">
                  </div>
                </div>
              </div>
            {% endfor %}
<!--            
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Et blanditiis nemo veritatis excepturi</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                  <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                  <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                  <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-3.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                  <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                  <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-4.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                  <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                  <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-5.png" alt="" class="img-fluid">
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->


  <!-- ======= team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Tim</h2>
        <p>Tim Eksekutif</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
                <div class="member-img">
                    <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Dummy 1</h4>
                    <span>Chief Executive Officer</span>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                    <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Dummy2</h4>
                    <span>Product Manager</span>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Dummy 3</h4>
                    <span>CTO</span>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                    <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Dummy 4</h4>
                    <span>Accountant</span>
                </div>
            </div>
        </div>
    
    </div>
    </div>
  </section><!-- End teams Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Lokasi</h2>
        <p>Cek Lokasi</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div data-aos="fade-up" id="map-container-google-3" class="col-md-8 z-depth-5-half map-container-3">
        <iframe style="border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63368.640379076685!2d107.54083914339431!3d-6.945442365351284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e77dd772465b%3A0xb81f604de8896989!2sPT%20SAPTA%20SINERGI%20SOURCINDO!5e0!3m2!1sid!2sid!4v1653620675658!5m2!1sid!2sid" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section><!-- End Contact Section -->
  
{% endblock content %}

