{% extends 'layout/base.html' %}

{% block headline %}

<h1>Wujudkan <span>Impianmu</span></h1>
<h2>Dapatkan pengalaman kerja terbaikmu bersama kami!</h2>

{% endblock headline %}

{% block content %}

    <!-- ======= Fact Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

          <div class="row justify-content-center">
              <div class="col-lg-9 text-center text-lg-left">
                  <h3>Kami merekrut <span class="counterUp" data-count="890">>0</span><span> Karyawan</span> tahun ini</h3>
                  <p> Penjelasan tentang pencapaian tahun ini.</p>
              </div>
              <!-- <div class="col-lg-3 cta-btn-container text-center">
                  <a class="cta-btn align-middle" href="#">Request a quote</a>
              </div> -->
          </div>

      </div>

      <div class="container mt-4">
          <div class="facts-wrapper">
              <div class="row justify-content-center">
                  <div class="col-md-3 col-sm-6 ts-facts">
                      <div class="ts-facts-img">
                          <img loading="lazy" src="assets/img/icon-image/SMA.png" alt="facts-img">
                      </div>
                      <div class="ts-facts-content">
                          <h2 class="ts-facts-num"><span class="counterUp" data-count="150">0</span></h2>
                          <h3 class="ts-facts-title">SMA PRIA</h3>
                      </div>
                  </div><!-- Col end -->

                  <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                      <div class="ts-facts-img">
                          <img loading="lazy" src="assets/img/icon-image/SMA 2.png" alt="facts-img">
                      </div>
                      <div class="ts-facts-content">
                          <h2 class="ts-facts-num"><span class="counterUp" data-count="160">0</span></h2>
                          <h3 class="ts-facts-title">SMA WANITA</h3>
                      </div>
                  </div><!-- Col end -->

                  <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                      <div class="ts-facts-img">
                          <img loading="lazy" src="assets/img/icon-image/SARJANA.png" alt="facts-img">
                      </div>
                      <div class="ts-facts-content">
                          <h2 class="ts-facts-num"><span class="counterUp" data-count="200">0</span></h2>
                          <h3 class="ts-facts-title">SARJANA PRIA</h3>
                      </div>
                  </div><!-- Col end -->

                  <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                      <div class="ts-facts-img">
                          <img loading="lazy" src="assets/img/icon-image/SARJANA 2.png" alt="facts-img">
                      </div>
                      <div class="ts-facts-content">
                          <h2 class="ts-facts-num"><span class="counterUp" data-count="380">0</span></h2>
                          <h3 class="ts-facts-title">SARJANA WANITA</h3>
                      </div>
                  </div><!-- Col end -->


              </div> <!-- Facts end -->
          </div>
          <!--/ Content row end -->
      </div>
      <!--/ Container end -->
  </section><!-- End Cta Section -->

  <!-- ======= Book A Table Section ======= -->
  <section id="bussiness" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Bisnis</h2>
        <p>Meliputi Bisnis</p>
      </div>
      <div class="row" data-aos="fade-up">
        <div class="col-lg-4 col-md-6  align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-briefcase"></i></div>
                <h4><a href="">Outsourcing & Head Hunter</a></h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-group"></i></div>
                <h4><a href="">Team Building & EO <br><br></a></h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-6  align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-list-check"></i></div>
                <h4><a href="">Training <br><br></a></h4>
            </div>
        </div>
    </div>

    </div>
  </section><!-- End Book A Table Section -->

  <!-- ======= Testimonials Section ======= -->
  <!-- <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What they're saying about us</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div>End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>
          </div>End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>
          </div>End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div>End testimonial item -->

          <!-- <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div>End testimonial item -->
<!-- 
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>End Testimonials Section -->

  <!-- ======= Events Section ======= -->
 <section id="events" class="events">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Kegiatan</h2>
      <p>Aktifitas Terkini di Sapta</p>
    </div>

    <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/event-birthday.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>LOREM</h3>
              <div class="price">
                <p><span>{{ date_now }}</span></p>
              </div>
              <p class="fst-italic">
               Kalimat ini adalah kalimat dummy untuk tampilan development.
              </p>
              <ul>
                <li><i class="bi bi-check-circled"></i> Kalimat ini adalah kalimat dummy untuk tampilan development</li>
                <li><i class="bi bi-check-circled"></i> Kalimat ini adalah kalimat dummy untuk tampilan development</li>
                <li><i class="bi bi-check-circled"></i> Kalimat ini adalah kalimat dummy untuk tampilan development</li>
              </ul>
              <p>
                Kalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan development
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="row event-item">
            <div class="col-lg-6">
              <img src="assets/img/event-custom.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
              <h3>JOBFAIR</h3>
              <div class="price">
                <p><span>{{ date_now }}</span></p>
              </div>
              <p class="fst-italic">
                Kalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan development.
              </p>
              <ul>
                <li><i class="bi bi-check-circled"></i> Kalimat ini adalah kalimat dummy untuk tampilan development</li>
                <li><i class="bi bi-check-circled"></i> Kalimat ini adalah kalimat dummy untuk tampilan development</li>
                <li><i class="bi bi-check-circled"></i> Kalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan development.</li>
              </ul>
              <p>
                Kalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan developmentKalimat ini adalah kalimat dummy untuk tampilan development
              </p>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Events Section -->

  <!-- ======= Gallery Section ======= -->
  <!-- <section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Restaurant</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div> -->
  <!-- </section> -->
  <!-- End Gallery Section -->

{% endblock content %}
