{% extends 'layout/base.html' %}
{% block headline %}
<h1>Program <span>Unggulan</span></h1>
<h2>untuk mendukung karirmu ikutilah program kami!</h2>
{% endblock headline %}

{% block content %}
    
<section id="program" class="program">
    <div class="container">
        <div class="section-title">
            <h2>Program</h2>
            <p>Program Bisnis yang dijalankan</p>
        </div>
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  
                  <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
                </div>
                <div class="blog-slider__content">
                  <div class="blog-slider__title">Sapta 1st Development Program</div>
                  <div class="blog-slider__text">Kembangkan diri dan kariermu bersama mentor dari Sapta Career dengan menjadi business consultant di perusahaan Sapta dan menjadi Sapta Campus Ambassador di kampus kalian. Sapta 1st, be the best of yourself! </div>
                  <!-- <a href="#" class="book-a-table-btn ">READ MORE</a> -->
                </div>
              </div>
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
                </div>
                <div class="blog-slider__content">
                  <div class="blog-slider__title">Sapta Virtual Job Fair</div>
                  <div class="blog-slider__text">Cari lowongan yang kamu inginkan dari perusahaan-perusahaan Grup Sapta di Sapta Virtual Job Fair! Grup Sapta membuka ratusan lowongan dari puluhan perusahaan Grup Sapta di website www.Sapta.co.id/virtue. Virtue, mudahnya berkarier di Sapta!</div>
                  <!-- <a href="#" class="book-a-table-btn ">READ MORE</a> -->
                </div>
              </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
                </div>
                <div class="blog-slider__content">
                  <div class="blog-slider__title">Sapta Campus Job Fair</div>
                  <div class="blog-slider__text">Sapta Career akan datang ke kampus-kampus kalian! Temukan lowongan yang kalian butuhkan dan juga manfaatkan waktu bersama Tim Sapta Career untuk mempersiapkan kariermu.</div>
                  <!-- <a href="#" class="book-a-table-btn ">READ MORE</a> -->
                </div>
              </div>
              
            </div>
            <div class="blog-slider__pagination"></div>
          </div>
    </div>
</section>

{% endblock content %}