<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>KONTAK</h3>
            <p>
              Jl. Nursijan No.24 <br>
              Paledang, Kota Bandung<br>
              Jawa Barat<br><br>
              <strong>Phone:</strong> (022) 421-0343<br>
              <strong>Email:</strong> rullykustiady@saptasinergi.co.id<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Link</h4>
          <ul>
            {% for m in menu %}
            <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for(func[menu.index(m)]) }}">{{ m }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Layanan</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Berlangganan Berita</h4>
          <p>Jika ingin mendapatkan berita terkini melalui email, silahkan berlangganan dengan memasukan email anda disini.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Berlangganan">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>{{TITLE}}</span> {{ year }}</strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->